.avatar {
 
    &__widget, &__items,&__item-poses{  
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    &__item-pose{
      &.is-hidden{
        display: none;
      }
    }
}
